<div class="container-fluid">
  <p class="h3 p-3">{{ pokemonDetail.name }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Types</dt>
        <dd>
          <ul>
            <li *ngFor="let type of pokemonDetail.types">{{ type.type.name }}</li>
          </ul>
        </dd>
        <hr/>
        <dt>Height</dt>
        <dd>{{ pokemonDetail.height }}</dd>
        <hr/>
        <dt>Weight</dt>
        <dd>{{ pokemonDetail.weight }}</dd>
        <hr/>
        <dt>Abilities</dt>
        <dd>
          <ul>
            <li *ngFor="let ability of pokemonDetail.abilities">{{ ability.ability.name }}</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>